body {
    background-size: cover;
    background-image: url(./resources/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
audio {
    width: 30%;
    opacity: 0.7;
    filter: drop-shadow(2px 4px 6px darkblue);
}
.logo {
    display: block;
    margin: auto;
    width: 75%;
}
#memorice-img {
    display: block;
    margin: auto;
    width: 35%;
    margin-bottom: 15%;
}
#trainer-img {
    display: block;
    margin: auto;
    width: 90%;
    margin-top: 8%;
}
#select-img {
    display: block;
    margin: auto;
    width: 80%;
    margin-top: 10%;
    margin-bottom: 8%;
}
.instructions {
    display: block;
    margin: auto;
    width: 80%;
    margin-top: 4%;
}
.difficultities {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#easy,
#medium,
#hard {
    width: 17%;
}
#footer-img {
    width: 40%;
    margin-left: 50%;
    margin-top: 19%;
}
/* botones de inicio */
#startOver {
    background-color: #f1f135;
    width: 25%;
    font-family: 'VT323';
    font-size: larger;
    filter: drop-shadow(2px 2px 3px black);
    margin: auto;
    display: block;
    margin-top: 100%;
    position: absolute;
    z-index: 4;
    margin-left: 38%;
}
#startOverOne {
    background-color: #f1f135;
    width: 25%;
    font-family: 'VT323';
    font-size: larger;
    filter: drop-shadow(2px 2px 3px black);
    position: absolute;
    margin-left: 145%;
    margin-top: -11%;

}
/* estilo de las cartas y el div contenedor */
.pokemonCards {
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    perspective: 1000px;
}
.memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    position: relative;
    margin: 4%;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}
.memory-card:active {
    transform: scale(.97);
    transition: transform .2;
}
.memory-card.flip {
    transform: rotateY(180deg);
}
.card-upside,
.card-backside {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: #1c7ccc;
    backface-visibility: hidden;
}
.card-backside {
    transform: rotateY(180deg);
}
/* estilo de imagenes de congratsPage */
#celebrate1 {
    display: block;
    margin: auto;
    width: 100%;
    position: absolute;
    z-index: 1;
    margin-top: 30%;
}
#celebrate2 {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
}
#celebrate3 {
    width: 75%;
    display: block;
    margin: auto;
    padding: 15%;
    position: absolute;
    z-index: 2;
}